// Colors
$clr1: #0a0a0b;
$clr2: #15191c;
$clr3: #7a7a7a;
$clr4: #b1b0b0;
$clr5: #f6f6f6;
$clr6: #ffff;
$clr7: #f4f2e8;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 660px;
$normal-breakpoint: 970px;
$medium-breakpoint: 1140px;
$wide-breakpoint: 1350px;

