.shoppingCart {
    .cart-title {
        margin: 20px 0 0 20px;
        font-size: 1.5rem;
    }
}
.cart-list {
    grid-area: 2/2/3/3;

    .MuiTableCell-head {
        font-weight: 800;
        text-align: center;
    }
    .MuiTableCell-body {
        text-align: center;
        .quantity{
            padding: 8px;
        }
        &.item-details {
            display: flex;
            flex-direction: column;
            p{
                padding: 16px;
            }
        }
    }
    .item-style {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .item-title {
        font-weight: bold;
        font-size: rem(24px);
    }
    .remove-btn {
        width: 70px;
        margin: auto;
        margin-top: 5px;
    }
    .total-cart{
        margin: 1.5rem 0 0 1.5rem;
    }
}
textarea {
    width: 300px;
    height: 50px;
    resize: none;
    margin-top: 10px;
}
.cart-actions {
    display: flex;
    grid-area: 4/2/-3/3;
    align-items: flex-end;    
    justify-content: space-between;
    margin-top: rem(20px);
    margin-left: 1.25rem;
    width: 36rem;
    button{
        border-radius: 4px;
    }
}
.empty-state {
    grid-area: 2/2/3/3;
}
.cart-item-img {
    max-width: rem(200px);
    max-height: rem(100px);
    object-fit: contain;
}
.dec-btn,
.inc-btn {
    width: rem(50px);
}
.quantity {
    font-size: 0.875rem;
    margin-right: rem(5px);
}

@media(max-width: 900px){
    .shoppingCart{
       .cart-actions{
            flex-direction: column;
            width: 300px;
            text-align: center;
           .btn{
               a{
                font-size: initial;
               }
            width: -webkit-fill-available;
           }
       } 
    }
}