@font-face {
    font-family: neuzeit;
    src: url("../../assets/fonts/Neuzeit/Neuzeit\ Grotesk\ W01\ Regular.otf");
}
@font-face {
    font-family: neuzeit-light;
    src: url("../../assets/fonts/Neuzeit/DIN30640\ Std\ Neuzeit\ Grotesk\ Light.otf");
}
@font-face {
    font-family: neuzeit-black;
    src: url("../../assets/fonts/Neuzeit/Neuzeit\ Grotesk\ Cond\ W01\ Black.otf");
}
