.shoppingCart {
    display: grid;
    //font-size: small;
    height: 70vh;
    text-align: center;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(2rem, 1fr);
    grid-template-rows: 15% 10% 60% 15%;
    .cart-title {
        grid-area: 1/2/3/3;
        margin-top: 10px;
    }
}

.cart-list {
    grid-area: 2/2/3/3;
    .MuiTableCell-head {
        font-weight: 800;
        text-align: center;
    }
    .MuiTableCell-body {
        text-align: center;
        &.item-details {
            display: flex;
            flex-direction: column;
        }
    }
    .item-style {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .item-title {
        font-weight: bold;
        font-size: rem(24px);
    }
    .remove-btn {
        width: 70px;
        margin: auto;
        margin-top: 5px;
    }
}

textarea {
    width: 300px;
    height: 50px;
    resize: none;
}
.cart-actions {
    display: flex;
    margin-top: rem(20px);
    grid-area: 4/2/4/3;
    align-items: flex-end;    
    justify-content: space-between;
    button{
        height: 50px;
    }
}
.empty-state {
    grid-area: 2/2/3/3;
}

.cart-item-img {
    max-width: rem(200px);
    max-height: rem(100px);
    object-fit: contain;
}

.dec-btn,
.inc-btn {
    width: rem(50px);
}

.quantity {
    font-size: 0.875rem;
    margin-right: rem(5px);
}

.subtotal-order {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
