*{
  box-sizing: border-box;
}
//IMG
.imgs{
  margin-top: 4rem;
  margin-bottom: -50px;
  justify-content: space-between;
}
.img-details{
  margin-left: .625rem;
  width: 50%;
}
.content-img{
  width: 50%;
}
.imgd, .img1{
  object-fit: contain;
  box-shadow: 0 10px 6px -6px #777;
  grid-area: 1/-1/-1/1;
  height: 480px;
}
.img2{
  box-shadow: -9px 9px 6px -6px #777;
  grid-area: 2/2/3/3;
  height: 170px;
}

//FRAMES
.none-border,.none-border2{
  border: none;
  border-image: none;
}
.dark{
  border: 35px solid rgb(255, 255, 255);
  border-image: url("../../assets/svg/1402636079.svg")  18% stretch;
}
.black{
  border: 30px solid rgb(243, 243, 245);
  border-image:  url("../../assets/svg/Black-Frame.svg")  18% stretch;
  box-shadow: none;
}
.bright{
  border: 35px solid rgb(255, 255, 255);
  border-image:  url("../../assets/svg/vintage.svg")  20% stretch;
}

//FRAMES IMG2
.dark2{
  border: 20px solid rgb(255, 255, 255);
  border-image: url("../../assets/svg/1402636079.svg")  18% stretch;
}
.black2{
  border: 20px solid rgb(243, 243, 245);
  border-image:  url("../../assets/svg/Black-Frame.svg")  18% stretch;
  box-shadow: none;
}
.bright2{
  border: 20px solid rgb(255, 255, 255);
  border-image:  url("../../assets/svg/vintage.svg")  20% stretch;
}

.btn-more-work{
  padding: 10px;
   margin-left: 30rem;
   height: 4rem;
}

//LAYOUT
.main-art-details{
margin-left: 0;
.btn-more-work{
  margin: 0px;
}
}
.container-img{
  grid-area: 1/1/-1/1;
  display: grid;
  // grid-template-columns: 1fr 2fr 2fr;
  // grid-template-rows: 0.5fr 3fr 2fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
}
.container-img-details{
  grid-area: 1/1/-1/1;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 0.5fr 3fr 2fr;
  margin-left: .3125rem;
}
.main{
margin: 0 5rem 3rem;
}
.radio-buttons, .art-details{
margin-bottom: 1.25rem;
}
.details-modals{
  text-align: center;
}
.content-txt{
padding: 4rem 1.25rem 0 3.125rem;
text-align: start;
max-width: 25%;
p{
  margin-bottom: .8rem;
}
}
.artist-list-details{
margin: 3.125rem 0 0 1.25rem;
a{
  margin-bottom: 20px;
}
}
.main-art-details{
 align-items: none;
}

//WISHLIST MODAL
.img-wish{
  width: 5rem;
  height: 5rem;
}

//RADIO BTNS
input[type='radio']:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #0b0a0a;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
label{
  margin-left: .625rem;
}
.btn-more-work{
  margin-left: auto;
}

//RESPONSIVE
@media(max-width:1555px){
  .art-details{
    margin-top: 1.875rem;
  }
.main-art-details{
  text-align: center;
  flex-direction: column;
  align-items: center;
  .content-txt{
    max-width: none;
    min-width: -webkit-fill-available;
    align-items: center;
    }
  }
}
@media(max-width:$medium-breakpoint){
  .main-art-details{
    align-items: center;
  }
  .imgs{
    margin-bottom: 0.8rem;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    .imgd{
      margin: 0px;
    }
    .img-details, .content-img{
      margin: 1rem 0 0 ;
      width: 75%;
      height: 50%;
    }
    .content-txt{
      margin-left: 0px;
    }
  }
}
@media(max-width:$mobile-breakpoint){
  // .content-txt{
  //   margin-left: 1rem;
  // }
  .main{
    margin: 0px;
  }
  .imgs{
    margin: 0px;
  }
  .img1, .imgd{
    object-fit: fill;
    margin-left: 0;
    box-shadow: none;
    width: 100vw;
  }
  .img2{
   margin-top: 20%;
    margin-left: 2rem
  }
}

