.home-section {
     width: 100%;
     z-index: 1 ;
     align-items: center;
     justify-content: center;
     display: flex;
 
 }
 .hero-content{
     z-index: 2; 
 }
 .home-section h2{
     text-align: center;
 }

 .carousel-container{
     grid-area: 1/1/2/-1;
    position:relative;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 80vh;
}
.heros-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .heros-container,
  .CarouselItem,
  .CarouselItem div {
    width: 100%;
    height: 100%;
  }

.main-hero-content{
    text-transform: uppercase;
    text-shadow: -1px -1px 3px $clr1;
    position: absolute;
    color: $clr6;
    z-index: 2;
    top: 35%;
    left: 20%;
    margin: 0 auto;

    *{
        font-family: neuzeit;
        text-align: center;
    }
    h1{
        font-size: 55px;
    }
}

@media(max-width:$normal-breakpoint){
    .main-hero-content,.artist-hero-title{
        top: 35%;
        left: 15%;
        h1{
        font-size: 36px;

        }
    }
}
@media(max-width:$narrow-breakpoint){
    .main-hero-content,.artist-hero-title{
        top: 35%;
        left: 10%; 
        h1{
            font-size: 25px;
 
        }
    }
}
@media(max-width:$mobile-breakpoint){
    .main-hero-content,.artist-hero-title{
        top: 35%;
        left: 2%;
        h1{
            font-size: 20px;
        }
    }
}
