.art-form {
  display: grid;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: thin;
  grid-gap: 10px;
}

.art-form form {
  display: grid;
  grid-template-areas: 'fimg finputs' 'fbtns finputs';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  justify-self: center;
  justify-content: normal;
  outline: double;
  padding: inherit;
}

.art-form .form-inputs {
  display: grid;
  grid-area: finputs;
  grid-gap: 10px;
  width: 100%;
  max-width: 400px;
  grid-template-areas: 'ti' 'di' 'ci' 'mi' 'tqi' 'si' 'cli' 'szi' 'pri';
}

.art-form .form-img {
  display: grid;
  grid-area: fimg;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
  width: fit-content;
  height: 100%;
  align-self: center;
  text-align: center;
}

.img-upload-preview {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.art-form .img-preview {
  height: 500px;
  width: 550px;
}

.art-form .empty-img {
  display: grid;
  width: 100%;
  height: 100%;
  border: 2px dotted black;
  align-content: center;
  justify-content: center;
  color: gray;
}

.art-form .img-preview img {
  height: auto;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  border: 2px black dotted;
}

.img-upload {
  display: grid;
  justify-content: left;
}

.art-form .form-btns {
  display: grid;
  grid-area: fbtns;
  grid-auto-flow: column;
  width: 100%;
  height: fit-content;
  justify-content: right;
  grid-gap: 10px;
  align-content: end;
}

.title-input {
  grid-area: ti;
}

.desc-input {
  grid-area: di;
}
.category-input {
  grid-area: ci;
}
.material-input {
  grid-area: mi;
}
.technique-input {
  grid-area: tqi;
}
.style-input {
  grid-area: si;
}
.clr-input {
  grid-area: cli;
}
.size-input {
  display: grid;
  grid-template-areas: 'h w cm';
  grid-area: szi;
  grid-gap: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.size-input div:first-of-type {
  grid-area: h;
}
.size-input div:nth-of-type(2) {
  grid-area: w;
}
.size-input span {
  grid-area: cm;
  align-self: center;
}

.price-input {
  grid-area: pri;
}

@media (max-width: 850px) {
  .art-form .form-inputs,
  .art-form .form-img {
    justify-self: center;
  }
  .art-form .img-preview {
    display: grid;
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
  }

  .art-form .empty-img {
    height: 200px;
    // justify-self: center;
  }

  .art-form .form-img,
  .art-form .img-upload-preview {
    width: 100%;
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .art-form form {
    grid-template-areas: 'fimg' 'finputs' 'fbtns';
    grid-template-columns: 1fr;
    width: 90vw;
  }
}

@media (max-width: $mobile-breakpoint) {
  .art-form form {
    grid-template-areas: 'fimg' 'finputs' 'fbtns';
    width: 90vw;
  }
  // .user-form .img-upload-preview {
  //   grid-template-columns: 1fr auto;
  //   align-items: center;
  //   justify-items: center;
  //   grid-gap: 10px;
  // }
}
