.art-list {
    display: grid;
    width: 100%;
    gap: 0.625rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
}
.art-list-title{
    margin-top: 10px;
}
.artworks-img{
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    border: 0.5px solid $clr4;
}