.desktop-nav nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
}

.desktop-nav a {
  display: grid;
}

.desktop-nav .logo {
  margin: 0;
}

.desktop-nav a {
  width: fit-content;
}
