.user-details:not(.edit-mode) {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'avatar hello edit' 'avatar details .';
  width: 100%;
  height: fit-content;
  max-width: 600px;
  align-items: center;
  grid-gap: 10px;
  padding-right: 20px;
}

.user-details.edit-mode {
  max-width: 600px;
}

.user-details ul {
  list-style-type: none;
  grid-area: details;
}

.user-details li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
}

.user-details li > span:first-child {
  font-weight: bold;
}

.user-details h2 {
  grid-area: hello;
  text-align: center;
  margin: 0;
}

.user-details button {
  grid-area: edit;
  width: fit-content;
}

.user-details .avatar {
  grid-area: avatar;
}

@media (max-width: 990px) {
  .user-details:not(.edit-mode) {
    max-width: 350px;
  }
}

@media (max-width: 900px) {
  .user-details:not(.edit-mode) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'avatar avatar' 'hello hello' 'details edit';
    text-align: left;
    grid-gap: 20px;
    padding: 10px;
  }

  .user-details button {
    justify-self: end;
  }

  .user-details h2,
  .user-details ul {
    text-align: start;
    justify-self: start;
    padding: 0;
  }
}
