.side-card{
    margin: .9375rem;
}
.btn-add-to-bag{
    margin-top: .3125rem;
}

@media(max-width:$mobile-breakpoint){
    .MuiDrawer-paperAnchorRight , .MuiListItem-container{
        width: 100vw;
    }
}

