.user-orders {
  display: grid;
  width: 90%;
  height: 100%;
}

.user-orders section {
  display: grid;
  width: 80%;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  padding-right: 20px;
}

.order-item-img {
  max-width: rem(200px);
  max-height: rem(100px);
  object-fit: contain;
}

.user-orders table td {
  min-width: fit-content;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: $mobile-breakpoint) {
  .user-orders {
    width: 100%;
  }
}
