* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: #fff;
}

html {
  font-family: neuzeit;
  font-size: 17px;
  letter-spacing: 1.5px;
  color: $clr6;
  line-height: 1.6;
 //-webkit-text-stroke: thin;
}

body {
  margin: 0;
  background-color: $clr6;
  color: $clr2;
  overflow-x: hidden;
}

main {
  margin-top: 4.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: neuzeit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0.6em;
}

h1 {
  font-size: rem(35px);
}
a {
  color: $clr2;
  text-decoration: none;
}
a:hover {
  color: $clr3;
}
input,
select,
a,
button {
  cursor: pointer;
}
button {
  background-color: $clr1;
  padding: 0.5rem;
}

p {
  margin: 0;
}
