button {
  border: solid 1px $clr2;
  color: $clr2;
  background-color: inherit;
  margin-bottom: 0.5rem;
  margin: 0px 8px 8px 0px;
  &:hover {
    color: $clr4;
  }
}
.btn-add-to-bag {
  background-color: $clr1;
  color: $clr6;
  width: 100%;
  height: rem(50px);
  padding: 5px;
  font-size: medium;
}
.btn-add-to-wishlist{
  background-color: $clr6;
  color: $clr1;
  width: 100%;
  height: rem(50px);
  padding: 5px;
  font-size: medium;
}

.add-art-page button {
  width: fit-content;
  padding: 10px;
}

.close-search-modal-btn {
  justify-self: start;
  width: fit-content;
  height: fit-content;
}

.long-txt-btn{
border: none;
}